* {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

a:link {
    text-decoration: none;
    color: aqua;
}

a:visited {
    text-decoration: none;
    color: teal;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 700px;
  width: 100%;
  background-color: rgb(5, 5, 5);
  cursor: pointer;
}

.slider {
    position: relative;
    width: 500px;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    background: #222;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;

  }

  .hero-main {
    height: 400px;
    display: flex;
    
  }

  .hero-left {
    box-sizing: border-box;
    width: 50%;
    border: 1px solid grey;

  }

  .hero-right {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    cursor: pointer;
    transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  .hero {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
    width: 50%;
    transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transform: scale(1);
  }
  .hero-main:hover > div {
    opacity: 0.7;
  }
  .hero-main:hover > div:hover {
    opacity: 1
  }
  .hero-right:hover > div {
    opacity: 0.7;
  }
  .hero-right:hover > div:hover {
    opacity: 1
  }

  .hero-left:hover {
    transform: scale(1.01);
        opacity: 1;

  }
  
  .hero:hover {
    transform: scale(1.01);
        opacity: 1;

  }
  
  .slide {
    display: inline-block;
    height: 100%;
    width: 100%;
  }


  
  .arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }
  
  .nextArrow {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 999;
    color: #fff;
  }
  
  .backArrow {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 999;
    color: #fff;
  }

  .skull {
    position: absolute;
    top: 5%;
    right: 25px;
    z-index: 999;
    color: white;
    font-size: 30px;
  }
  
  .bigger {
    width: 100px;
  }

  .fa-arrow-right:before, .fa-arrow-left:before {
    color: white
  }